.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color2);
    border-radius: 15px;
    width: 500px;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    height: 90vh;
    text-align: center;
    overflow-y: auto;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.custom-modal-overlay {
    display: block !important;
  }
  
  .custom-modal {
    display: block !important;
  }
  