.ContainerFuncionarios {
  display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 30px;
    height: auto;
    min-height: 100vh;
}

.listFunc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 10px;
    background-color: #f4f4f4;
    color: var(--bg-color);
    border-radius: 4px;
    max-width: 950px;
}

.listFunc p {
  margin-left: 10px;
}

.employee-form {
  width: 100%;
  margin: 0 auto;
  color: var(--bg-color);
}

.formSenha {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.fieldset {
  border: solid 1px var(--bg-color);
  border-radius: 10px;
}

.titleh1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.titleH2 {
  color: var(--bg-color);
  padding-top: 10px;
}

.texto {
  color: var(--bg-color);
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 80%;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  flex:1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.senha {
  width: 30%;
}

.label,
.lbFuncao {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-align: right;
  font-weight: 600;
  margin-top: 14px;
}

.lbFuncao {
  margin-left: -70px;
  margin-bottom: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.function-checkboxes label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}

.function-checkboxes input[type="checkbox"] {
  margin-right: 5px;
}

.function-checkboxes {
  padding-left: 20px;
}

.submit-button, 
.btnFunc,
.modal-close,
.btnEdit,
.btnDelete,
.btnProfile,
.btnSenha,
.btnSalvar,
.btnCalcel{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover,
.btnFunc:hover,
.btnSenha:hover,
.btnSalvar:hover {
  background-color: #0056b3;
}

.btnProfile{
  background-color: #00b32d;
}

.btnProfile:hover {
  background-color: #03a52c;
}

.btns {
  margin-left: 80px;
  margin-right: 10px;
}

.btns button {
  margin-left: 15px;
}

.dSenha  {
  margin: 0;
}

.btnFunc {
  margin-bottom: 20px;
  padding: 15px 25px;
}

.submit-button {
  margin-bottom: 10px;
}

.modal .modal-close,
.btnDelete,
.btnCalcel {
  background-color: #dc3545;
}

.btnEdit {
  background-color: #ffc107;
}

.btnEdit:hover {
  background-color: #ebb30b;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 700px;
  height: 90vh;
  text-align: center;
  overflow-y: auto;
}

.modal-close {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-close:hover,
.btnDelete:hover,
.btnCalcel:hover {
  background-color: #c21d2e;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -12px;
}

.inputModal {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-inline: auto;
  border: 2px solid var(--bg-color);
  border-radius: 30px;
  max-width: 450px;
  padding: 8px;
  display: flex;
}

.item {
  font-weight: bold;
  color: #c21d2e;
}