.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: var(--detail-color2);
  }
  
  .table tr:nth-child(even) {
    background-color: #b8b5b5;
    color: black;
  }

  .btn-clientes {
    padding: 5px 20px;
    outline: none;
    border: none;
    background-color: var(--detail-color);
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn-clientes:hover{
    background-color: #be860c;
  }