@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #222222; 
  --bg-color2: #2e2c3a;
  --sub-bg-color: #3a3747;
  --text-color: #d9d9d9;
  --detail-color: #eda509;
  --detail-color2: #620001;

  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Poppins", Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn {
  margin: 10px  8px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color);
}

.btAdd,
.btEdit {
  background-color: #3b7fec;
}

.btAdd:hover,
.btEdit:hover {
  background-color: #3276e4;
}

.btn2 {
  margin: 10px  8px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--text-color);
}

.btCancelar {
  background-color: #c90c0c;
}

.btCancelar:hover {
  background-color: #af0707;
}

.btSalvar {
  background-color: #178017;
}

.btSalvar:hover {
  background-color: #0f690f;
}

.input-group {
  display: flex;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.inputModal {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 5px 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 15px;
  width: 100%;
  text-align: left;
}

.item {
  color: #af0707;
  font-weight: bold;
}

/* scroll bar personalizado */
::-webkit-scrollbar{
  width: 6px;
  background-color: var(--sub-bg-color);
  border: 5px solid var(--sub-bg-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--text-color);
  border-radius: 50px;
}