@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-color: #222222; 
  --bg-color2: #2e2c3a;
  --sub-bg-color: #3a3747;
  --text-color: #d9d9d9;
  --detail-color: #eda509;
  --detail-color2: #620001;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Poppins", Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* scroll bar personalizado */
::-webkit-scrollbar{
  width: 6px;
  background-color: var(--sub-bg-color);
  border: 5px solid var(--sub-bg-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--text-color);
  border-radius: 50px;
}